body{
    font-family: 'Montserrat';
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat';
    font-weight: 300;
}

p{
    color: #8f8f8f;
}



/* Headings */


.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}


.section-heading{
    font-size: 3rem;
    font-weight: 900;
    font-language-override: 1.5;
}

/* Containers */

.container-fluid{
    padding: 7% 15%;
}

/* Sections  */

.coloured-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;
}

/* navigation bar  */
.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
    text-align: left;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light', sans-serif;
}
/* Download buttons */
.download-button{
    margin:5% 3% 5% 0;
}

/* title  */

#title{
    text-align: left;
}

#title .container-fluid{
    padding: 3% 15% 7%;
}

.title-img{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;

}

/* Media  */


@media (min-width:991px){
    .title-img{
        margin-left: 4rem;
    }
}
@media (max-width:1202px) and (min-width:990px){
    .title-img{
        width: 30%;
    }
}
@media (max-width:991px){
    .title-img{
        width: fit-content;
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}


/* features section  */


.feature-title{
    font-size: 2rem;
    font-weight: 900;
}


.feature-row p{
    width: 60%;
    margin:auto;
}

.feature-row i{
    color: #ef8172;
    font-size: 5rem;
    margin-bottom: 1rem;
}
.feature-row i:hover{
    color:#ff4c68;
}

#features{
    padding: 11% 8%;
    position: relative;
}

.dog{
    margin:3rem 0;
}

/* testimonials section  */

.testoimonials-text{
    font-size: 3rem;
    line-height: 1.5;
}

#testimonials{
    background-color: #ef8172;
}

#testimonials img{
    width:10%;
    border-radius: 100%;
    margin: .7rem;

}



/* press section  */

#press{
    background-color: #ef8172;
    padding-bottom:3%;
}

#press img{
    width:15rem;
    margin: 2rem 2rem 4rem;
}

/* pricing section  */

.pricing-head{
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

#pricing{
    padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}

/* cta section  */



/* Footer section */

#footer i{
    margin: 20px 15px;
}
#footer p{
    font-size: 1.1rem;
}
